.card {
    text-align: center;
    border: rgb(87, 163, 255) solid 1px;
    padding: 1rem;
    width: 15rem;
    height: 25rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #e04b52;
    background-color: white;
  }
  
  .villager-pic {
    justify-self: center;
    height: 12rem;
    width: auto;
  }

  .villager-icon{
    justify-self: center;
    height: 5rem;
    width: auto;
  }

  .island{
    padding: 1rem;
    width: stretch;
    height: auto;
    display: none;
    background: #4CBB17;
    opacity: .8;
  }