.card {
    text-align: center;
    border: rgb(87, 163, 255) solid 1px;
    padding: 1rem;
    width: 15rem;
    height: 25rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #e04b52;
    background-color: white;
  }
  
  .villager-pic {
    justify-self: center;
    height: 12rem;
    width: auto;
  }

  .villager-icon{
    justify-self: center;
    height: 5rem;
    width: auto;
  }

  .island{
    padding: 1rem;
    margin-right:340px;
    margin-bottom:20px;
    width: 100vw - 340px;
    height: auto;
    background-image: url(https://garden.spoonflower.com/c/10488323/p/f/m/B_VsgI6-rp94sfrtNZfXXfCeGiPUg-kiHS6KhhKRFKFYBTROK5KPP8c/Animal%20Crossing%20Grass.jpg);

  }

  .album-cover{
    width: 200px;
    height:auto;
    grid-row: 2;
    justify-self: center;
  }

  .audio{
    width: 250px;
    height:25px;
    grid-row: 3;
    justify-self: center;
  }

  .musicPlayer{
    position: absolute;
    top:20px;
    right:10px;
    display: grid;
    padding: 1rem;
    
  }
  
  .musicForm{
    position: absolute;
    top:5px;
    right:0;
  }